In [50]:
import kagglehub
import pandas as pd
import os

In [51]:
# Download latest version
path = kagglehub.dataset_download("ayeshaseherr/student-performance")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Eni-o\.cache\kagglehub\datasets\ayeshaseherr\student-performance\versions\1

In [52]:
data_path = r"C:\Users\Eni-o\.cache\kagglehub\datasets\ayeshaseherr\student-performance\versions\1"

# See what files are inside
print(os.listdir(data_path))

['StudentPerformanceFactors.csv']

In [53]:
# df_raw is your untouchable extracted data
df_raw = pd.read_csv(f"{data_path}/StudentPerformanceFactors.csv")

In [54]:
# df_spf is a copy of the original dataset where I'll do all my cleaning, processing etc 
df_spf = df_raw.copy()
display(df_spf.head())

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [55]:
df_spf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

# Imputation

#### Filling in the missing values (and performing some ordinal enconding).

In [64]:
# Uses boolean to show columns with missing values.
df_spf.isnull().any()

Hours_Studied                 False
Attendance                    False
Parental_Involvement          False
Access_to_Resources           False
Extracurricular_Activities    False
Sleep_Hours                   False
Previous_Scores               False
Motivation_Level              False
Internet_Access               False
Tutoring_Sessions             False
Family_Income                 False
Teacher_Quality               False
School_Type                   False
Peer_Influence                False
Physical_Activity             False
Learning_Disabilities         False
Parental_Education_Level       True
Distance_from_Home             True
Gender                        False
Exam_Score                    False
dtype: bool

In [93]:
# shows the sum of rows that have no data in the Teacher_Quality column
display(df_spf['Teacher_Quality'].isna().sum())

# displays all the unique values in a column
display(df_spf['Teacher_Quality'].unique())

np.int64(0)

array([2, 3, 1])

In [58]:
# Checks the mode
mode_value = df_spf['Teacher_Quality'].mode()[0]
print("Most frequent value:", mode_value)

Most frequent value: Medium

In [99]:
# Replace missing values
df_spf['Teacher_Quality'] = df_spf['Teacher_Quality'].fillna(mode_value)

# check to see if there are still missing values after change
display(df_spf['Teacher_Quality'].isna().sum())

np.int64(0)

In [85]:
# mapped each category to a numeric value
mapping = {'Low': 1, 'Medium': 2, 'High': 3}

# used the mapping dictionary to change the Teacher_Quality data type
df_spf['Teacher_Quality'] = df_spf['Teacher_Quality'].map(mapping)

# checking the new data type
df_spf.info()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,2,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,2,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,2,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,2,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,3,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,2,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,3,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,2,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,2,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,2,Public,Positive,4,No,Postgraduate,Near,Male,64

In [100]:
display(df_spf['Parental_Education_Level'].unique())

display(df_spf['Parental_Education_Level'].isna().sum())

array(['High School', 'College', 'Postgraduate'], dtype=object)

np.int64(0)

In [95]:
mode_value = df_spf['Parental_Education_Level'].mode()[0]
print("Most frequent value:", mode_value)

Most frequent value: High School

In [98]:
df_spf['Parental_Education_Level'] = df_spf['Parental_Education_Level'].fillna(mode_value)

# check to see if there are still missing values after change
display(df_spf['Parental_Education_Level'].isna().sum())

np.int64(0)

In [107]:
df_spf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6607 non-null   int64
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6607 non-null   object
 17  Distance_from_Home          6607 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(8), object(12)
memory usage: 1.0+ MB

In [104]:
display(df_spf['Distance_from_Home'].unique())

display(df_spf['Distance_from_Home'].isna().sum())

array(['Near', 'Moderate', 'Far', nan], dtype=object)

np.int64(67)

In [105]:
# Checks the mode
mode_value = df_spf['Distance_from_Home'].mode()[0]
print("Most frequent value:", mode_value)

Most frequent value: Near

In [106]:
# Replace missing values
df_spf['Distance_from_Home'] = df_spf['Distance_from_Home'].fillna(mode_value)

# check to see if there are still missing values after change
display(df_spf['Distance_from_Home'].isna().sum())

np.int64(0)

In [109]:
distance_mapping = {'Near': 1, 'Moderate': 2, 'Far': 3}

df_spf['Distance_from_Home'] = df_spf['Distance_from_Home'].map(distance_mapping)

df_spf.head(60)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,2,Public,Positive,3,No,High School,NaN,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,2,Public,Negative,4,No,College,NaN,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,2,Public,Neutral,4,No,Postgraduate,NaN,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,2,Public,Negative,4,No,High School,NaN,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,3,Public,Neutral,4,No,College,NaN,Female,70
5,19,88,Medium,Medium,Yes,8,89,Medium,Yes,3,Medium,2,Public,Positive,3,No,Postgraduate,NaN,Male,71
6,29,84,Medium,Low,Yes,7,68,Low,Yes,1,Low,2,Private,Neutral,2,No,High School,NaN,Male,67
7,25,78,Low,High,Yes,6,50,Medium,Yes,1,High,3,Public,Negative,2,No,High School,NaN,Male,66
8,17,94,Medium,High,No,6,80,High,Yes,0,Medium,1,Private,Neutral,1,No,College,NaN,Male,69
9,23,98,Medium,Medium,Yes,8,71,Medium,Yes,0,High,3,Public,Positive,5,No,High School,NaN,Male,72
10,17,80,Low,High,No,8,88,Medium,No,4,Medium,3,Private,Neutral,4,No,College,NaN,Male,68
11,17,97,Medium,High,Yes,6,87,Low,Yes,2,Low,3,Private,Neutral,2,No,High School,NaN,Male,71
12,21,83,Medium,Medium,Yes,8,97,Low,Yes,2,Medium,2,Public,Positive,4,No,High School,NaN,Male,70
13,9,82,Medium,Medium,Yes,8,72,Medium,Yes,2,Medium,2,Private,Positive,3,No,Postgraduate,NaN,Male,66
14,10,78,Medium,High,Yes,8,74,Medium,Yes,1,Low,2,Private,Neutral,4,No,Postgraduate,NaN,Male,65
15,17,68,Medium,Medium,No,8,70,Medium,Yes,2,Medium,2,Private,Positive,4,No,High School,NaN,Female,64
16,14,60,Medium,Low,Yes,10,65,Low,Yes,0,High,2,Private,Positive,3,No,College,NaN,Male,60
17,22,70,Low,Medium,Yes,6,82,Medium,Yes,1,Low,3,Public,Neutral,3,No,High School,NaN,Female,65
18,15,80,Medium,Medium,Yes,9,91,Low,Yes,3,Low,2,Public,Positive,2,No,College,NaN,Female,67
19,12,75,Medium,High,Yes,7,58,Medium,Yes,3,Medium,2,Private,Positive,4,No,College,NaN,Male,66
20,29,78,Medium,Medium,No,5,99,High,Yes,0,High,2,Public,Negative,1,No,High School,NaN,Female,69
21,19,99,Medium,High,No,6,84,Medium,Yes,1,Medium,3,Public,Neutral,3,No,High School,NaN,Male,72
22,20,74,Medium,High,No,8,89,Low,Yes,1,Medium,2,Public,Negative,2,No,College,NaN,Female,66
23,11,78,High,Medium,Yes,8,100,High,Yes,1,Low,2,Public,Neutral,3,No,High School,NaN,Male,66
24,17,65,Low,High,Yes,5,75,Medium,Yes,2,Low,2,Public,Positive,3,No,High School,NaN,Female,63
25,21,62,High,Low,Yes,6,54,High,Yes,0,High,3,Public,Positive,3,No,Postgraduate,NaN,Male,64
26,13,91,Low,Medium,No,6,90,Medium,Yes,1,High,2,Public,Negative,2,Yes,High School,NaN,Female,65
27,22,83,High,High,Yes,6,94,Medium,Yes,0,High,2,Public,Neutral,2,No,College,NaN,Male,71
28,16,90,Medium,Medium,No,4,58,Medium,Yes,1,Low,2,Public,Neutral,3,No,High School,NaN,Female,66
29,18,66,High,High,No,4,51,Low,Yes,2,Low,2,Private,Neutral,2,No,College,NaN,Male,64
30,16,83,Low,Medium,No,6,57,Medium,Yes,0,High,1,Public,Positive,4,Yes,High School,NaN,Female,63
31,31,70,Medium,High,Yes,7,66,Medium,Yes,1,High,2,Public,Negative,3,No,College,NaN,Male,69
32,20,69,Medium,Medium,Yes,8,96,Medium,Yes,2,Medium,3,Public,Positive,3,No,High School,NaN,Male,67
33,14,60,High,Medium,No,5,50,Medium,Yes,2,Medium,2,Public,Neutral,3,No,College,NaN,Female,61
34,25,65,High,Medium,No,5,90,Medium,Yes,2,Medium,2,Public,Positive,3,No,College,NaN,Female,68
35,13,72,Low,Medium,No,6,93,Low,Yes,1,Low,2,Public,Negative,3,No,High School,NaN,Male,61
36,21,65,Medium,Low,Yes,7,91,Low,Yes,2,Medium,3,Public,Positive,3,No,High School,NaN,Female,64
37,8,99,Medium,Medium,No,9,54,Low,Yes,2,Low,2,Public,Neutral,5,No,Postgraduate,NaN,Female,67
38,12,72,Low,Medium,Yes,8,84,Medium,Yes,1,Low,2,Public,Positive,5,No,High School,NaN,Female,63
39,21,65,Low,Medium,Yes,6,98,Low,Yes,1,Medium,3,Public,Negative,4,No,High School,NaN,Male,64
40,24,68,High,Medium,No,8,56,Low,Yes,3,High,3,Public,Neutral,1,No,College,NaN,Male,67
41,21,84,Medium,Medium,Yes,6,52,Low,Yes,1,Medium,3,Public,Neutral,2,Yes,College,NaN,Female,65
42,19,63,Low,High,No,7,94,Medium,Yes,1,Medium,2,Private,Positive,3,No,High School,NaN,Male,64
43,18,94,Medium,High,Yes,7,82,Medium,Yes,3,Medium,2,Private,Negative,2,Yes,College,NaN,Male,70
44,11,98,Medium,Medium,Yes,9,82,Low,Yes,1,Medium,2,Private,Positive,3,No,Postgraduate,NaN,Male,68
45,16,70,Medium,Medium,Yes,8,98,Medium,Yes,2,Medium,2,Public,Positive,3,No,High School,NaN,Male,65
46,17,78,Medium,Medium,Yes,6,88,Medium,Yes,1,Medium,3,Private,Positive,3,No,College,NaN,Female,68
47,26,61,Medium,Low,Yes,6,70,Medium,Yes,2,Low,2,Public,Positive,3,No,High School,NaN,Female,64
48,22,86,Low,Medium,Yes,7,72,Low,Yes,3,Low,3,Public,Positive,2,No,High School,NaN,Male,68
49,9,77,Medium,Medium,No,5,57,Medium,Yes,2,Medium,3,Public,Neutral,3,No,High School,NaN,Male,63
50,22,71,Low,Medium,Yes,7,65,Low,Yes,1,Medium,1,Public,Positive,4,No,College,NaN,Male,64
51,18,68,High,Medium,No,7,72,Medium,Yes,0,Medium,2,Public,Neutral,3,No,College,NaN,Male,64
52,16,86,Low,Medium,Yes,8,63,Medium,Yes,2,Medium,2,Public,Positive,4,No,High School,NaN,Male,67
53,24,77,High,Low,No,8,96,Medium,Yes,0,Medium,2,Public,Neutral,3,No,High School,NaN,Female,67
54,26,67,Medium,High,Yes,7,51,Low,Yes,2,High,3,Private,Neutral,4,Yes,Postgraduate,NaN,Female,66
55,26,88,Medium,High,Yes,5,79,Medium,Yes,1,Low,3,Private,Positive,4,No,College,NaN,Male,72
56,15,83,Medium,High,No,5,89,Low,No,1,Medium,3,Public,Neutral,2,Yes,High School,NaN,Female,65
57,18,94,Medium,Medium,Yes,6,87,High,Yes,1,Medium,2,Public,Positive,4,No,High School,NaN,Male,71
58,22,65,High,Low,No,8,82,Medium,Yes,2,Medium,3,Public,Positive,1,No,Postgraduate,NaN,Female,66
59,26,91,Medium,Low,Yes,8,71,Medium,Yes,0,Low,2,Private,Neutral,3,No,High School,NaN,Male,68

# Encoding

#### Changing data types, to make it more easier for analysis.

In [112]:
display(df_spf['Parental_Involvement'].unique())

# used mapping dictionary defined earlier to change data type
df_spf['Parental_Involvement'] = df_spf['Parental_Involvement'].map(mapping)

array(['Low', 'Medium', 'High'], dtype=object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   int64
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6607 non-null   int64
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6607 non-null   object
 17  Distance_from_Home          0 non-null      float64
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: float64(1), int64(9), object(10)
memory usage: 1.0+ MB

In [119]:
display(df_spf['Access_to_Resources'].unique())

# used mapping dictionary defined earlier to change data type
df_spf['Access_to_Resources'] = df_spf['Access_to_Resources'].map(mapping)

# checking the new data type
df_spf.tail(60)

array([nan])

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
6547,15,94,2,NaN,Yes,6,77,Low,Yes,3,High,3,Private,Neutral,4,No,College,NaN,Female,70
6548,22,75,3,NaN,No,7,52,High,Yes,0,Low,2,Private,Neutral,3,No,College,NaN,Female,66
6549,23,90,2,NaN,No,7,89,Low,Yes,2,High,2,Public,Positive,4,No,College,NaN,Female,71
6550,20,79,2,NaN,Yes,8,71,Medium,Yes,1,Medium,3,Public,Neutral,3,No,College,NaN,Female,68
6551,27,68,1,NaN,Yes,8,80,High,Yes,3,Medium,2,Public,Positive,4,Yes,High School,NaN,Male,66
6552,22,65,1,NaN,No,8,98,High,Yes,4,Medium,2,Private,Neutral,3,No,High School,NaN,Female,66
6553,16,74,1,NaN,No,8,76,Medium,Yes,5,Low,2,Public,Negative,3,No,College,NaN,Male,65
6554,18,66,2,NaN,Yes,7,90,Medium,Yes,0,Medium,2,Public,Negative,4,No,Postgraduate,NaN,Male,64
6555,12,100,1,NaN,Yes,7,65,Medium,Yes,1,Low,2,Private,Positive,2,No,High School,NaN,Male,67
6556,19,62,2,NaN,Yes,8,86,Low,Yes,1,High,2,Public,Positive,3,No,College,NaN,Male,65
6557,27,78,2,NaN,Yes,8,55,Low,Yes,3,High,2,Public,Neutral,2,No,Postgraduate,NaN,Male,69
6558,24,78,3,NaN,Yes,5,95,Low,Yes,1,Low,2,Private,Positive,2,No,College,NaN,Male,69
6559,28,72,1,NaN,Yes,7,60,Medium,Yes,4,High,2,Public,Neutral,3,No,Postgraduate,NaN,Male,69
6560,18,83,2,NaN,No,4,65,Low,Yes,3,Low,2,Public,Positive,4,No,College,NaN,Male,68
6561,28,66,2,NaN,Yes,4,98,Medium,Yes,0,Medium,3,Public,Positive,3,No,High School,NaN,Female,67
6562,19,91,2,NaN,No,6,58,High,Yes,2,Low,3,Public,Positive,3,No,College,NaN,Male,68
6563,29,73,1,NaN,Yes,7,63,Medium,Yes,1,Low,2,Public,Negative,4,No,Postgraduate,NaN,Female,65
6564,20,84,3,NaN,Yes,6,79,Medium,Yes,3,Medium,2,Public,Negative,3,No,College,NaN,Male,69
6565,24,89,2,NaN,No,4,99,High,Yes,1,High,3,Private,Positive,3,No,Postgraduate,NaN,Male,73
6566,29,96,3,NaN,No,8,85,Low,Yes,3,High,2,Public,Neutral,3,No,Postgraduate,NaN,Male,76
6567,19,93,2,NaN,Yes,6,56,Medium,Yes,0,Low,3,Private,Negative,3,No,College,NaN,Male,69
6568,21,84,3,NaN,Yes,8,87,Low,Yes,2,High,2,Public,Positive,1,No,Postgraduate,NaN,Female,69
6569,28,76,2,NaN,Yes,6,71,Medium,Yes,3,Low,2,Private,Positive,2,No,High School,NaN,Female,68
6570,19,80,3,NaN,Yes,6,100,Medium,Yes,1,Medium,2,Public,Positive,3,No,High School,NaN,Male,70
6571,12,91,2,NaN,Yes,8,81,Low,Yes,0,Low,1,Public,Positive,4,No,High School,NaN,Male,64
6572,33,95,1,NaN,Yes,6,77,Low,Yes,2,High,3,Private,Positive,3,No,High School,NaN,Female,73
6573,17,64,2,NaN,Yes,7,78,High,Yes,1,Medium,2,Public,Positive,3,No,High School,NaN,Male,64
6574,21,75,2,NaN,Yes,7,82,Medium,Yes,1,Medium,2,Public,Negative,4,No,High School,NaN,Male,65
6575,27,91,1,NaN,No,5,87,Medium,No,0,Medium,2,Public,Negative,3,No,High School,NaN,Female,69
6576,16,77,2,NaN,Yes,8,54,Medium,No,0,Medium,2,Public,Negative,3,No,Postgraduate,NaN,Male,62
6577,14,73,3,NaN,Yes,6,57,High,Yes,2,Medium,2,Public,Neutral,4,No,High School,NaN,Female,64
6578,22,76,1,NaN,No,5,65,Low,Yes,0,Medium,3,Public,Neutral,3,No,High School,NaN,Female,64
6579,9,84,2,NaN,No,6,74,Medium,Yes,5,High,2,Public,Neutral,2,No,High School,NaN,Male,67
6580,18,100,2,NaN,Yes,8,66,High,No,3,Low,2,Public,Negative,3,No,College,NaN,Male,69
6581,21,80,2,NaN,Yes,5,61,Medium,Yes,2,High,2,Public,Positive,3,No,High School,NaN,Male,67
6582,18,68,1,NaN,No,8,96,Medium,Yes,1,High,2,Public,Neutral,3,No,High School,NaN,Male,65
6583,11,67,2,NaN,No,8,52,High,Yes,3,High,3,Public,Negative,3,No,College,NaN,Female,63
6584,30,62,1,NaN,Yes,7,97,Medium,Yes,0,High,2,Private,Neutral,5,No,College,NaN,Female,66
6585,21,82,2,NaN,No,7,95,High,Yes,1,High,2,Public,Negative,3,No,High School,NaN,Male,70
6586,29,82,2,NaN,No,7,84,Low,Yes,1,Low,2,Private,Positive,2,No,High School,NaN,Male,70
6587,18,68,3,NaN,Yes,8,52,High,Yes,0,High,3,Public,Positive,3,No,College,NaN,Male,67
6588,15,88,1,NaN,Yes,6,61,Medium,Yes,0,High,2,Public,Neutral,4,Yes,Postgraduate,NaN,Male,65
6589,22,90,1,NaN,No,5,99,Medium,Yes,1,Low,1,Private,Positive,2,No,College,NaN,Female,70
6590,19,70,2,NaN,Yes,7,95,High,No,0,Medium,3,Private,Positive,3,No,College,NaN,Female,66
6591,13,74,2,NaN,Yes,8,98,High,Yes,1,High,3,Public,Negative,2,No,High School,NaN,Male,66
6592,29,100,2,NaN,Yes,8,100,Low,Yes,0,Low,2,Private,Neutral,5,Yes,High School,NaN,Male,72
6593,16,75,3,NaN,Yes,10,53,High,Yes,0,Low,1,Public,Positive,4,No,College,NaN,Female,64
6594,9,90,3,NaN,Yes,7,79,Low,Yes,4,High,3,Public,Positive,4,No,High School,NaN,Male,70
6595,28,78,2,NaN,No,7,92,Low,Yes,1,Medium,3,Public,Positive,3,No,Postgraduate,NaN,Female,71
6596,17,92,2,NaN,No,7,66,Low,Yes,2,Low,2,Public,Negative,3,No,High School,NaN,Male,66
6597,16,91,3,NaN,Yes,6,72,High,Yes,0,High,3,Public,Negative,2,No,Postgraduate,NaN,Female,70
6598,9,87,1,NaN,Yes,6,64,Medium,Yes,1,High,2,Public,Neutral,2,No,High School,NaN,Female,64
6599,30,94,2,NaN,No,5,52,Low,No,3,High,2,Private,Neutral,2,No,Postgraduate,NaN,Female,70
6600,12,98,2,NaN,Yes,4,54,Medium,Yes,2,Medium,3,Private,Neutral,3,No,High School,NaN,Female,67
6601,20,83,2,NaN,No,6,51,Low,Yes,2,Medium,2,Public,Neutral,4,No,High School,NaN,Female,65
6602,25,69,3,NaN,No,7,76,Medium,Yes,1,High,2,Public,Positive,2,No,High School,NaN,Female,68
6603,23,76,3,NaN,No,8,81,Medium,Yes,3,Low,3,Public,Positive,2,No,High School,NaN,Female,69
6604,20,90,2,NaN,Yes,6,65,Low,Yes,3,Low,2,Public,Negative,2,No,Postgraduate,NaN,Female,68
6605,10,86,3,NaN,Yes,6,91,High,Yes,2,Low,2,Private,Positive,3,No,High School,NaN,Female,68
6606,15,67,2,NaN,Yes,9,94,Medium,Yes,0,Medium,2,Public,Positive,4,No,Postgraduate,NaN,Male,64